= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    = f.input :autor
    = f.input :pealkiri
    = "kuulub kasutajale #{current_user.email}"

  .form-actions
    = f.button :submit
